<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registro de Empleado</h3>

    <form (ngSubmit)="saveEmployee()">

        <div class="form-group">
            <label for="">Nombre</label>
            <input required type="text" class="form-control" [(ngModel)]="employee.name" name="name">
        </div>

        <div class="form-group">
            <label for="">Apellido</label>
            <input required type="text" class="form-control" [(ngModel)]="employee.lastname" name="lastname">
        </div>

        <div class="form-group">
            <label for="">email</label>
            <input required type="email" class="form-control" [(ngModel)]="employee.email" name="email">
        </div>

        <button class="btn btn-secondary" type="submit">Enviar</button>
    </form>
</div>