<div class="container">
    <h2>Lista Empleados</h2>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <th>{{employee.name}}</th>
                <th>{{employee.lastname}}</th>
                <th>{{employee.email}}</th>
                <th>
                    <button class="btn btn-primary" (click)="updateEmployee(employee.id)">Editar</button>
                    <button class="btn btn-danger" (click)="deleteEmployee(employee.id)" style="margin-left: 10px;">Eliminar</button>
                </th>
            </tr>
        </tbody>
    </table>

</div>